*{
    box-sizing: border-box;
    margin: 0 ;
    padding: 0;
}

body{
    font-family: 'Ubuntu';
    color: white;
    background-color: #1A232E;
}
/* 
#####################################
        GENERALS
#####################################
 */
    .pad0{
        padding: 0px;
    }
    .mar0{
        margin: 0;
    }
/* 
#####################################
        HEADER
#####################################
 */
 .right{
    position: absolute;
    right: 30px;    
    top: 16px;
    width: 200px;
    /* background-color: red; */
    /* height: fit-content; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header{
    height: 72px;
    z-index: 1;
}
.navbar li{
    display: inline;
    color: white;
    font-size: larger;
    margin-left: 15px;
    margin-bottom: -13px;
}

ul{
    height: fit-content;
    display: flex;
    align-items: center;
}
.navbar img{
    margin: 16px 5px 0 46px;
}

#logo{
    height: 40px;
    width: 40px;
    margin: 0;
    border-radius: 50%;
}
#name{
    margin-top: 5px;
}
.underline{
    height: 1px;
    width: 52px;
    background-color: white;
    position: relative;
    left: 183px;
    bottom: 10px;
}
#nameSelect{
    background:none;
    border: none;
    color: white;
}
#searchIcon{
    margin: 0;
}

header{
    background-color: #1A232E;
    position: fixed;
    width: 100%;
}

/*#####################
        SLIDER
##################### */
.slider{
    padding-top: 72px;
    overflow: hidden;
}

.images{
    display: flex;
    width: 100%;
}

.images img{
    height: 270px;
    width: 110%;
    transition: all 0.15s ease;
}
.nextSlide:hover {
    background-color: rgba(0, 0, 0, 0.138);
    color: wheat;
    }


    .nextSlide{
        text-decoration: none;
        display: flex;
        z-index: 0.1;
        align-items: center;
        position: relative;
        /* justify-content:left; */
        margin-left: -44px;
        color: aliceblue;
        padding: 8px 16px;
        font-size: 40px;
        height: 270px;
    }

.dots{
    display: flex;
    justify-content: center;
    margin: 5px;
    position: inherit;
    margin-top: -30px;
}

.dots div{
    background-color: rgba(255, 255, 255, 0.182);
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: 5px;
}

.dots div:hover{    background-color: white;    }




        /* #####################
            FOOTER
        ######################## */
        footer{
            margin-top: 50px;
            margin-bottom: 30px;
        }
        #foot a{
            text-decoration: none;
            color: #90DFDA;
        }
        #foot,#footImg{
            margin: 10px;
            display: flex;
            justify-content: center;
        }
        #foot a,span{
            margin-right: 15px;
        }




        /*##################################
                TOP 10
        ##################################*/

        #top10{
            margin-top: 50px;
            display: flex;
            height: 450px;
        }
        #leftT10{
            width: 40%;
        }
        #rightT10{
            width: 60%;
        }
        #vidT10{
            min-width: 50%;
            min-height: 100%;
            width: 100%;
            object-fit: fill;
            /* box-shadow: inset 0px 0px 50px rgba(210, 13, 13, 0.8); */
            /* box-shadow: inset 0px 0px 40px 40px #DBA632; */
        } 
        #leftContainer{
            padding-top: 30px;
            margin-left: 100px;
            height: 100%;
            box-sizing: border-box;
        }
        #leftBottom{
            /* background-color: green; */
            position: relative;
            bottom: -40%;
        }
        #playBtn{
            height: 50px;
            width: 115px;
            border-radius: 25px 25px 25px 25px;
            background-color: #1399DE;
            display: flex;
            justify-content: center;
            align-items: center;
        }
 
        .play {
        border-top: 10px solid #1399DE;
        border-bottom: 10px solid #1399DE;
        border-left: 20px solid white;
        height: 0px;
        border-radius: 2px;
        }

        /* Top 10 slider */
        #t10slider{
            margin-left: 50px;
            padding-top: 50px;
            display: flex;
            align-items: baseline;
            overflow: hidden;
        }
        #t10count{ font-size: 50px; font-weight: 900; margin: 0 10px 0 30px;}          
        #t10img{
            height: 117px;
            width: 206px;
        }